.profile_info,
.block,
.profile_card,
.my_contacts,
.profile_stats,
.user_bio,
.profile_repos, 
.profile_blogs,
.header,
.git_profile_card {
  opacity: 0;
  transform: translateY(20px);
}

.user_avatar {
    opacity: 0;
    animation: size 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.profile_info {
  animation: slideInLeft 1s ease forwards;
  animation-delay: 0.5s;
}

.block {
  animation: slideInRight 1s ease forwards;
  animation-delay: 1s;
}

.profile_card {
  animation: zoomIn 1s ease forwards;
  animation-delay: 0.3s;
}

.my_contacts {
  animation: slideInRight 1s ease forwards;
  animation-delay: 0.6s;
}

.profile_stats {
  animation: bounceIn 1s ease forwards;
  animation-delay: 0.9s;
}

.user_bio {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.2s;
}

.git_profile_card {
  animation: flipInX 1s ease forwards;
  animation-delay: 1.5s;
}

.profile_repos {
    animation: zoomIn 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.profile_blogs {
    animation: zoomIn 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.header {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes size {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

@keyframes slideInLeft {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}
