@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Playwrite+HR+Lijeva:wght@100..400&family=WindSong:wght@400;500&display=swap');

* {
  outline: none;
  text-decoration: none;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.badges_block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn_link {
  width: 100%;
}

a .button {
  width: 150px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 5px;
}

.repos,
.nc_repos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0%;
}

.project_card_block {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: var(--color1);
  color: var(--fg);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.project_card {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Madimi One";
  align-items: center;
  align-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  line-height: 1.4;
}

.project_card_block a,
.project_card a {
  width: 100%;
}

.project_card_block h3 {
  margin: 0%;
  color: var(--color2);
  font-family: "Madimi One";
}

@media screen and (max-width: 950px) {
  .repos,
  .nc_repos {
    width: 90%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .project_card {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}
