@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playpen+Sans:wght@100..800&family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Neonderthaw&family=Warnes&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Rubik+Glitch&family=Tsukimi+Rounded&display=swap");

:root {
  --bg: #202a30;
  --bg2: #202a30;
  --fg2: #d4d9d5;
  --fg: #d4d9d5;
  --color1: #2f3843;
  --color2: #748d8f;
}

* {
  outline: none;
}

.svg_image {
  width: 30%;
}

html {
  background: var(--bg2);
  background-origin: padding-box;
  background-repeat: repeat;
  background-attachment: scroll;
  scrollbar-color: var(--color1) transparent;
  scrollbar-arrow-color: transparent transparent;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

.mac_header {
  background-color: transparent;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-right: 75px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #a97174;
}

.yellow {
  background-color: #9f9d77;
}

.green {
  background-color: #799f77;
}

.output {
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
}

dialog {
  opacity: 0;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  border: 30px;
  border-color: transparent;
  border-radius: 20px;
  align-items: center;
  outline: none;
  max-height: 80%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

form {
  outline: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.badges_block {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bb_block {
  padding: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn_link {
  width: 100%;
}

.contacts_badge_block {
  width: 100%;
  padding: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skill_badge {
  aspect-ratio: 1/1;
  width: 100px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.skill_badge:hover {
  transform: scale(1.2);
}

.profile_card,
.profile_stats,
.profile_repos,
.user_bio,
.git_profile_card,
.my_contacts,
.my_skills,
.profile_blogs {
  background-color: var(--color1);
  border-radius: 30px;
  color: var(--fg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

.profile_blogs,
.profile_repos,
.my_skills {
  background-color: var(--bg);
}

.profile_card a {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.profile_card .button {
  width: 50%;
}

.bio_info {
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bio_info h3 {
  font-size: medium;
  line-height: 2;
  align-content: center;
  text-align: center;
}

.profile_stats h3 {
  font-family: "Tsukimi Rounded", sans-serif;
  line-height: 2;
  font-size: x-larger;
}

.profile_stats a {
  line-height: 2;
  font-size: x-larger;
  color: var(--color2);
  text-decoration: none;
}

.user_bio a {
  line-height: 2;
  font-size: larger;
  color: var(--color2);
  text-decoration: none;
}

.handwrite {
  padding: 3%;
  margin: 1%;
  border-radius: 15px;
  background-color: var(--color2);
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--bg);
}

h1 {
  font-family: "Tsukimi Rounded", system-ui;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--color2);
}

h3 {
  font-family: "Tsukimi Rounded", system-ui;
  padding: 0%;
  margin: 5px;
  font-size: medium;
}

.text-box {
  width: 70%;
  padding: 2%;
  font-family: "Nova Mono", monospace;
  font-size: medium;
  background-color: var(--color2);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.profile_info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0%;
  margin: 30px;
  padding: 0px;
}

.user_avatar {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 3%;
  border: 7px solid var(--color2);
  transition:
    box-shadow 0.6s ease-in-out,
    border 0.6s ease-in-out;
}

.user_avatar:hover {
  box-shadow: 0px 0px 10px 10px var(--color2);
  border: 7px solid var(--color2);
}

.contact_button {
  font-family: "Tsukimi Rounded";
  font-size: medium;
  background-color: var(--color2);
  border-radius: 10px;
  width: 50%;
  height: auto;
  padding: 2%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  outline: none;
}

.contact_button:active {
  transform: scale(0.95);
}

.contact_button:hover {
  box-shadow: 0px 0px 5px 5px var(--color2);
  background-color: vaR(--color2);
}

.contact_button i {
  margin-right: 10px;
}

.button {
  font-family: "Tsukimi Rounded";
  font-size: medium;
  background-color: var(--color2);
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 1%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  box-shadow: 0px 0px 5px 5px var(--color2);
  background-color: vaR(--color2);
}

.button i {
  margin-right: 10px;
}

.sub_block {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0%;
  margin: 0px;
  padding: 0px;
  align-items: baseline;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .content {
    display: grid;
    grid-template-columns: 60%;
    grid-gap: 0%;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .tabs {
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0%;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .user_avatar {
    width: 80%;
    border-radius: 50%;
    margin: 10%;
  }

  .skill_badge {
    width: 90%;
    margin: 10px;
  }

  .button,
  .contact_button {
    height: 50px;
  }
}
