@import url('https://fonts.googleapis.com/css2?&family=Titan+One&family=Quicksand&family=Quicksand&family=Pacifico&family=Permanent+Marker&display=swap');



:root {
    --bg: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    --fg2: #1e2326;
    --fg: #1e2326;
    --color1: #ffa4c3;
    --color2: #90acf9;
    --color3: #d991aa;
    --color4: #1e2326;
}

html {
    background: var(--bg);
    scrollbar-color: var(--color3) transparent;
    scrollbar-arrow-color: transparent transparent;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}





.container {
    text-align: center;
}

.image-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    margin-left: 30vw;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.5s ease-in-out;
}

@media(max-width: 1800px) {
    .image-container img {
        width: 70vw;
        margin-left: 15vw;
    }
}

.image-container img.active {
    opacity: 1;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color2);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}






hr,
hr:before,
hr:after {
    content: "";
    background: var(--color1);
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    animation: anim-hr 6s linear infinite;
    border: 0;
    overflow: visible;
}

hr:before {
    left: -32px;
}

hr:after {
    left: 32px;
}

hr {
    position: relative;
    margin: 30px auto;
}

@keyframes anim-hr {
    0% {
        background: var(--color1);
    }

    50% {
        background: var(--fg2);
    }

    100% {
        background: var(--color1);
    }
}

.to_git_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 150px;
}

.to_git {
    border-radius: 20px;

    transition: height 0.5s ease;
    height: 100px;
}
.to_git:hover {
    border-radius: 20px;

    transition: height 0.5s ease;
    height: 120px;
}


.hello_text {
    color: #f8d494;
    font-size: 5vh;
    margin-right: 3vw;
    text-decoration: none;
}

.logo {
    margin-left: 2vh;
    height: 40px;
}

.logo:hover {}

.item {
    margin: 2vw;
    color: var(--fg2);
}

.item:hover {}

.item:hover i {
    color: var(--fg2);
}

.navigation_links {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;

    text-decoration: none;
    font-size: medium;
    color: var(--fg2);

    cursor: default;
}

.navigation_links i {
    color: var(--fg2);
    margin: 10px;
}

.navigation_links:after {
    background-color: var(--color3);
    display: block;
    content: "";
    height: 5px;
    border-radius: 2px;
    width: 0%;

    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.navigation_links:hover:after,
.navigation_links:focus:after {
    width: 110%;
}

.nav_buttons {
    list-style: none;
    margin-right: 2vh;
}

.nav_buttons li {
    display: inline-block;
    padding: 0px 0px;
}

.nav_buttons li a {
    transition: all 0.3s ease 0s;
}

@keyframes color-cycle {
    0% {
        color: var(--fg2);
    }

    50% {
        color: var(--color3);
    }

    100% {
        color: var(--fg2);
    }
}

header {
    display: flex;
    height: 5%;
    background-color: rgba(19, 22, 27, 0);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 992px) {
    .logo {
        display: none;
    }

    .title {
        display: none;
    }

    header {
        height: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.skill_badge {
    height: 2vh;
    border-radius: 10px;
}

.skill_badge2 {
    height: 1.4vh;
    border-radius: 10px;
}


body {
    display: grid;
    background-color: transparent;
}

a {
    font-size: 15px;
    color: var(--fg2);
}

h1 {
    cursor: default;
    font-size: 50px;
    color: var(--fg2);
    font-family: "Titan One", cursive;
    font-weight: 400;
    font-style: normal;
}

@media(max-width: 1500px) {
    h1 {
        font-size: 80px;
    }
}

@media(max-width: 900px) {
    h1 {
        font-size: 60px;
    }
}


h2 {
    cursor: default;
    font-size: 24px;
    color: var(--fg2);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media(max-width: 1500px) {
    h2 {
        font-size: 25px;
    }
}

@media(max-width: 900px) {
    h2 {
        font-size: 23px;
    }
}


h3 {
    cursor: default;
    font-size: 19px;
    color: var(--fg);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media(max-width: 1500px) {
    h1 {
        font-size: 20px;
    }
}

@media(max-width: 900px) {
    h1 {
        font-size: 20px;
    }
}


.override {
    backdrop-filter: blur(6px);
    /*background-color: rgba(19, 22, 27, 0.2);*/
    margin-top: 0vh;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.hello {
    margin-left: 1vw;
    margin-top: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello h1 {
    margin-left: 2vw;
    font-size: 5vh;
    color: var(--color3);
}


@media(max-width: 992px) {
    .hello {
        align-items: center;
        justify-content: center;
        display: flexbox;
        flex-direction: column;
    }

    .hello h1 {
        font-size: 10vw;
        color: var(--color3);
    }

    .hello img {
        margin-bottom: 2vh;
    }
}

.animated {
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s, opacity 1s;
}

.main-block {
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 4vh;
    margin-left: 5vw;
    filter: contrast(1.1);
    background-position: center;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.contacts {
    width: 90vw;
    padding-left: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 50vh;
    display: flex;

    vertical-align: baseline;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gitroll_badge {
    border-radius: 30px;
    width: 60%;
}

@media(max-width: 992px) {
    .gitroll_badge {
        width: 90%;
    }
}

.paralax_block {
    background-image: url("../imgs/bg.jpg");
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    background-size: cover;
    filter: contrast(1.1);
    background-position: center;
    margin-left: 10%;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@media(max-width: 992px) {
    .paralax_block {
        margin-left: 5%;
        width: 90%;
        height: 5vh;
    }
}

.about {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
}

.quote {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flexbox;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    border: 10px rgba(255, 255, 255, 0.3);
    border-radius: 1vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
}

.about_me {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    flex-direction: column;
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.projects_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.user-avatar {
    width: 17vh;
    height: 17vh;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 5vh;

    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0px var(--color3), 0 0 0px var(--color3);
}

.user-avatar:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0px var(--fg2), 0 0 0px var(--fg2), 0 0 0px var(--fg2);
}

.buttons {
    display: block;
    align-items: center;
}

.user-text {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 4vh;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}

.button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    height: 2vh;
    width: 5vw;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.5vh;
    border: none;
    border-radius: 10px;
    background-color: var(--color3);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0px var(--color3), 0 0 0px var(--color3);
}

@media(max-width: 992px) {
    .button {
        height: 3vh;
        width: 23vw;
    }
}

@media(min-width: 992px) {
    .button {
        height: 3vh;
        width: 250px;
    }
}


.button2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;

    height: 50px;
    width: 50px;

    border: none;
    border-radius: 10px;
    background-color: var(--color3);
    box-shadow: 0 0 0px var(--color3), 0 0 0px var(--color3);
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    transition: background-color 0.7s ease;
    z-index: 56;
}


@media (hover: hover) {
    .button:hover {
        transition: box-shadow 0.5s ease;
        box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3);
    }
}


@media (hover: none) {
    .button:active {
        background-color: var(--color3);
    }
}

@media (hover: hover) {
    .button2:hover {
        transition: box-shadow 0.5s ease;
        box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3);
    }
}

@media (hover: none) {
    .button2:active {
        background-color: var(--color3);
    }
}

.contact_button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    height: 3vh;
    width: 6vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    border: none;
    border-radius: 10px;
    background-color: var(--color3);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0px var(--color3), 0 0 0px var(--color3);
}

.contact_button i {
    color: var(--fg);
}

@media (max-width: 2000px) {
    .contact_button {
        height: 3.5vh;
        width: 20vw;
    }
}

@media (max-width: 1500px) {
    .contact_button {
        height: 3vh;
        width: 50vw;
    }
}

@media (max-width: 1300px) {
    .contact_button {
        height: 3vh;
        width: 30vw;
    }
}

@media (hover: hover) {
    .contact_button:hover {
        transition: box-shadow 0.5s ease;
        box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3);
    }
}


@media (hover: none) {
    .contact_button:active {
        background-color: var(--color3);
    }
}

footer {
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
}

.footer_content {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--fg2);
    font-size: large;
    display: flex;

    height: 2vh;
    margin-bottom: 3vh;
    border-radius: 10vh;

    width: 90vw;

    align-items: center;
    justify-content: center;
}

@media(max-width: 1200px) {
    .footer_content {
        width: 90vw;
    }

    .svg_image {
        width: 90vw;
    }
}

@media(max-width: 1200px) {
    .footer_content {
        width: 85vw;
    }

    .svg_image {
        width: 80vw;
    }
}

@media(max-width: 900px) {
    .footer_content {
        width: 80vw;
    }

    .svg_image {
        width: 80vw;
    }
}

.badge {
    width: 20%;
}

.ag-projects_item {
    background-color: transparent;
    transition: transform 0.3s ease-out;
    /*transition: box-shadow 0.5s ease-in;
    box-shadow: 0 0 5px transparent, 0 0 25px transparent, 0 0 50px transparent;*/

    display: inline-block;
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(100% - 130px);

    margin: 15px 15px;
    overflow: hidden;

    border-radius: 30px;

    width: 20vw;
    height: 14vh;
}

@media(max-width: 1600px) {
    .ag-projects_item {
        width: 50vw;
        height: 12vh;
    }
}

@media(max-width: 1800px) {
    .ag-projects_item {
        width: 30vw;
        height: 13vh;
    }
}

@media(max-width: 1700px) {
    .ag-projects_item {
        width: 30vw;
        height: 12vh;
    }
}

@media(max-width: 1300px) {
    .ag-projects_item {
        width: 50vw;
        height: 12vh;
    }
}

@media(max-width: 900px) {
    .ag-projects_item {
        width: 80vw;
        height: 17vh;
    }
}

.ag-projects-item_link {
    display: block;
    padding: 30px 20px;
    background-color: transparent;
    color: var(--fg2);
    color: transparent;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow: hidden;

    position: relative;
}

@media (hover: hover) {
    .ag-projects-item_link,
    .ag-projects-item_link {
        text-decoration: none;
        color: var(--fg2);
    }
    
    .ag-projects-item_link .ag-projects-item_bg {
        -webkit-transform: scale(20);
        -ms-transform: scale(20);
        transform: scale(20);
    }
}

@media (hover: none) {
    .ag-projects-item_link,
    .ag-projects-item_link {
        text-decoration: none;
        color: var(--fg2);
    }
    
    .ag-projects-item_link .ag-projects-item_bg {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}



.ag-projects-item_title {
    color: var(--fg2);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 20px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 25px;

    z-index: 2;
    position: relative;
}

.ag-projects-item_content-box {
    font-size: 18px;
    z-index: 2;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 15vw;
    height: 13vh;
}

@media(max-width: 1600px) {
    .ag-projects-item_content-box {
        width: 15vw;
        height: 12vh;
    }
}

@media(max-width: 1800px) {
    .ag-projects-item_content-box {
        width: 15vw;
        height: 14vh;
    }
}

@media(max-width: 1700px) {
    .ag-projects-item_content-box {
        width: 20vw;
        height: 10vh;
    }
}

@media(max-width: 1300px) {
    .ag-projects-item_content-box {
        width: 40vw;
        height: 11vh;
    }
}

@media(max-width: 900px) {
    .ag-projects-item_content-box {
        width: 70vw;
        height: 11vh;
    }
}


.ag-projects-item_content {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--fg2);

    /*-webkit-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;*/
}

@media (hover: hover) {
    .ag-projects_item:hover {
        /*transition: box-shadow 0.5s ease-in;*/
        transform: scale(1.1);
        /*box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3);*/
    }
}

@media (hover: none) {
    .ag-projects_item:hover {
        /*transition: box-shadow 0.5s ease-in;*/
        transform: scale(1.1);
        /*box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3);*/
    }
}
