:root {
    --bg: #0a0e1a;
    --fg: #ffffff;
    --fg2: #ffffff;
    --color2: #8a6378;
    --color1: #d09db5;
    --color3: #716c88;
}

details[open] {
  height: auto;
  transition: height 0.5s ease-out;
}

details {
  overflow: hidden;
  transition: height 0.5s ease-out;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Arial";
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--fg2);
  margin: auto;
  width: 60%;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}


.icon {
    width: 20%;
}

.content {
  margin-top: 2%;
}

.image {
  border-radius: 20px;
}

section {
  min-width: 100%;
  background-color: rgba(10,14,26,.6);
  border: 0px solid var(--fg2);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  margin: 5%;
}

h1 {
  font-size: 3rem;
  color: var(--fg2);
  text-align: center;
  margin-bottom: 10%;
}

h2 {
  text-align: center;
  margin-bottom: 10%;
}

h3 {
  font-size: 1rem;
  color: var(--fg2);
  text-align: center;
  margin-bottom: 10%;
}

b {
  text-align: center;
  font-size: 2rem;
}

summary {
  margin-top: 20px;
  margin-bottom: auto;
}

.buttons {
  margin: 5%;
  height: 50%;
  text-align: center;
  width: 60%;
}

.btn-hover {
  width: 40%;
  font-size: 16px;
  font-weight: 600;
  color: var(--fg2);
  cursor: pointer;
  margin: 1%;
  height: 60px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    var(--bg),
    var(--bg),
    var(--color3),
    var(--color3)
  );
}

.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    var(--bg),
    var(--bg),
    var(--color1),
    var(--color1)
  );
}

.btn-hover.color-3 {
  background-image: linear-gradient(
    to right,
    var(--bg),
    var(--bg),
    var(--color2),
    var(--color2)
  );
}

.ag-projects_item {
  display: inline-block;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  overflow: hidden;

  border-radius: 20px;

  min-height: 200px;
  max-height: 500px;

  min-width: 300px;
  max-width: 300px;
}

.ag-projects-item_link {
  display: block;
  padding: 30px 20px;
  background-color: var(--bg);

  overflow: hidden;

  position: relative;
}

.ag-projects-item_link:hover,
.ag-projects-item_link:hover .ag-projects-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-projects-item_link:hover .ag-projects-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-projects-item_title {
  min-height: 20px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 20px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-projects-item_content-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-projects-item_content {
  font-weight: bold;
  color: var(--color3);

  -webkit-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.ag-projects-item_bg {
  height: 128px;
  width: 128px;
  background-color: var(--color3);

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.ag-projects_item:nth-child(2n) .ag-projects-item_bg {
  background-color: var(--color2);
}
.ag-projects_item:nth-child(3n) .ag-projects-item_bg {
  background-color: var(--color1);
}
.ag-projects_item:nth-child(4n) .ag-projects-item_bg {
  background-color: var(--color3);
}
.ag-projects_item:nth-child(5n) .ag-projects-item_bg {
  background-color: var(--color1);
}
.ag-projects_item:nth-child(6n) .ag-projects-item_bg {
  background-color: var(--color2);
}

@media only screen and (max-width: 1500px) {
  .ag-projects_item {
    max-width: 200px;
    min-height:;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .ag-projects_item {
    max-width: 200px;
    min-height:;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-projects_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
}

@media only screen and (max-width: 740px) {
  .ag-projects_item {
    max-width: 100%;
    min-height:;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    color: var(--fg2);
    text-align: center;
    margin-bottom: 10%;
  }

  h2 {
    text-align: center;
    margin-bottom: 10%;
  }

  h3 {
    font-size: 1rem;
    color: var(--fg2);
    text-align: center;
    margin-bottom: 10%;
  }

  b {
    text-align: center;
    font-size: 1.5rem;
  }

  .ag-projects_item {
    max-width: 90%;
    min-height:;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-projects-item_content {
    font-size: 10px;
  }
}
