@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Playwrite+HR+Lijeva:wght@100..400&family=WindSong:wght@400;500&display=swap");

:root {
  --bg: #252932;
  --fg2: #eff1f5;
  --fg: #eff1f5;
  --color1: #2b303b;
  --color2: #8fa1b3;
  --color3: #65737e;
  --red: #bf616a;
  --green: #a3be8c;
  --yellow: #ebcb8b;
}

:root.light {
  --bg: #c0c5ce;
  --fg2: #65737e;
  --fg: #65737e;
  --color1: #96b5b4;
  --color2: #2b303b;
  --color3: #b48ead;
  --red: #bf616a;
  --green: #a3be8c;
  --yellow: #ebcb8b;
}

/*
WindSong
Playwrite HR Lijeva
Madimi One
*/

* {
  user-select: none;
}

.rights {
  font-family: "Madimi One";
  color: var(--color2);
}

.date {
  display: block;
  font-size: medium;
  color: gray;
}

header {
  display: flex;
  position: fixed;
  bottom: 10px;
  height: 50px;
  z-index: 10000;
  width: auto;
  justify-content: right;
  align-items: center;
  align-content: center;
  background-color: var(--color2);
  backdrop-filter: blur(5px);
  color: var(--bg);
  border-radius: 15px;
}

.header a {
  text-decoration: none;
  color: var(--bg);
  margin-left: 20px;
  margin-right: 20px;
  transition: color 0.5s;
}

.header a:hover {
  color: var(--color3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(10px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  color: var(--fg);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "Playwrite HR Lijeva", system-ui;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--color2);
}

h3 {
  font-family: "Playwrite HR Lijeva", system-ui;
  padding: 0%;
  margin: 5px;
  font-size: medium;
  line-height: 2;
}

svg path {
  stroke: var(--color2);
  background-color: var(--color2);
}

svg circle {
  stroke: var(--color2);
  background-color: var(--color2);
}

* {
  outline: none;
}

.svg_image {
  width: 20%;
  margin: 30px;
}

html {
  background: var(--bg);
  background-origin: padding-box;
  background-repeat: repeat;
  background-attachment: scroll;
  scrollbar-color: var(--color1) transparent;
  scrollbar-arrow-color: transparent transparent;
  font-family: "Madimi One", monospace;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  scroll-behavior: smooth;
  margin: 1%;
  transition: all 0.5s ease-in-out;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.scrollButton {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--color2);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  border: none;
  transform: translateX(-30%);
}

.mac_header {
  background-color: transparent;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-right: 75px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transition: all 1s ease-in-out;
}

.red {
  background-color: var(--red);
  transition: all 0.2s;
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.red:hover {
  opacity: 0.7;
}

.output {
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
}

dialog {
  opacity: 0;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  border: 30px;
  border-color: transparent;
  border-radius: 20px;
  align-items: center;
  outline: none;
  max-height: 80%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

form {
  outline: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.badges_block {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bb_block {
  padding: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn_link {
  width: 100%;
}

input {
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: var(--color2);
  color: var(--fg);
}

.skill_badge {
  aspect-ratio: 1/1;
  width: 100px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.submitButton {
  width: 50%;
  height: 25px;
  padding: 0px;
  margin: 0px;
  color: var(--fg);
}

.client_data {
  display: none;
  flex-direction: column;
  align-items: center;
}

.profile_card,
.welcome_card,
.profile_card_2,
.profile_stats,
.profile_repos,
.user_bio,
.git_profile_card,
.my_contacts,
.my_skills,
.profile_blogs {
  background-color: transparent;
  border-radius: 30px;
  color: var(--color2);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.user_bio {
  height: 100%;
}

.git_profile_card {
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_bio h3 {
  margin: 30px;
}

.profile_blogs,
.profile_repos,
.my_skills {
  background-color: var(--bg);
}

.profile_card a {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.profile_card .button {
  width: 50%;
}

.bio_info {
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bio_info h3 {
  font-size: medium;
  line-height: 2;
  align-content: center;
  text-align: center;
}

.profile_stats h3 {
  font-family: "Playwrite HR Lijeva", sans-serif;
  line-height: 2;
  font-size: x-larger;
}

.profile_stats a {
  line-height: 1.5;
  font-size: medium;
  color: var(--color2);
  text-decoration: none;
}

.user_bio a {
  line-height: 2;
  font-size: medium;
  color: var(--color2);
  font-family: "Madimi One", sans-serif;
  text-decoration: none;
}

.user_bio h3 {
  line-height: 2;
  font-family: "Madimi One", sans-serif;
  font-size: medium;
  text-decoration: none;
}

.handwrite {
  padding: 3%;
  margin: 30px;
  border-radius: 15px;
  background-color: transparent;
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--color2);
}

.text-box-outline {
  width: 85%;
  padding: 15px;
  font-family: "Madimi One", sans-serif;
  font-size: medium;
  background-color: var(--color2);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.text-box-outline i {
  margin-left: 20px;
  margin-right: 20px;
}

.text-box {
  width: 85%;
  padding: 15px;
  font-family: "Madimi One", sans-serif;
  font-size: medium;
  background-color: var(--color2);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

a .text-box .i {
  margin-left: 20px;
}

.cross_svg {
  width: 30px;
  height: 30px;
}

.cross_svg g path {
  width: 30px;
  height: 30px;
}

.cross_svg path {
  fill: var(--color2);
}

.cross_block {
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  align-content: left;
}

.cross_block_2 {
  margin-top: 10px;
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  align-content: right;
}

.text-box .i {
  margin-left: 20px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.welcome_card {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 50%;
  padding: 0px;
}

.user_avatar {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: -1000;
}

.contacts_badge_block {
  width: 60%;
  padding: 0%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
}

.links_badge_block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact_button {
  font-family: "Madimi One";
  font-size: medium;
  background-color: var(--color2);
  border-radius: 20px;
  width: 70px;
  aspect-ratio: 1/1;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  outline: none;
}

.contact_button:active {
  transform: scale(0.95);
}

.contact_button:hover {
  box-shadow: 0px 0px 5px 5px var(--color2);
  background-color: vaR(--color2);
}

.contact_button i {
  font-size: 50px;
}

.submit_btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
  text-align: left;
  align-content: left;
  color: var(--red);
  cursor: pointer;
}

.sub_links_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.block_l {
  height: 200px;
} 

.link_badge {
  width: 300px;
  height: 100%;
  border: none;
  transition: all 0.5s;
}

.link_badge:hover {
  box-shadow: 0px 0px 10px 10px var(--color2);
  background-color: var(--color2);
}


.button {
  font-family: "Madimi One";
  font-size: medium;
  background-color: var(--color2);
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  outline: none;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 0px 5px 5px var(--color2);
  background-color: var(--color2);
}

.button i {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a .button {
  font-family: "Madimi One";
  font-size: medium;
  background-color: var(--color2);
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
  outline: none;
  text-decoration: none;
}

a .button:hover {
  box-shadow: 0px 0px 5px 5px var(--color2);
  background-color: var(--color2);
}



.theme-toggle,
.back_button {
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: var(--color2);
  color: var(--bg);
  transition: all 1s;
}

.theme-toggle,
.back_button i {
  color: var(--bg);
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.theme-toggle:hover {
  box-shadow: 0px 0px 20px var(--color2);
  background-color: var(--color2);
}

.back_button:hover {
  box-shadow: 0px 0px 20px var(--color2);
  background-color: var(--color2);
}

.theme-toggle:active,
.back_button:active {
  transform: scale(0.8);
}

.back_button {
  bottom: 100px;
}

.sub_block {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0%;
  margin: 0px;
  padding: 0px;
  align-items: baseline;
  justify-content: center;
}

.spacer {
  height: 150px;
  background-color: transparent;
  border: none;
}

.bio_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.left_text {
  width: 75%;
  text-align: left;
  align-items: left;
  align-content: left;
  justify-content: left;
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 50px;
  font-family: "Madimi One", monospace;
  font-size: medium;
  line-height: 2;
  padding-left: 10px;
  border-radius: 10px;
}

.username {
  align-items: center;
  text-align: center;
  font-size: 100px;
  font-family: "Playwrite HR Lijeva";
  margin: 0;
  padding: 0;
}

.git_stats {
  font-size: medium;
  font-family: "Madimi One", monospace;
  width: auto;
  text-align: left;
}

.footer {
  margin-bottom: 100px;
  font-size: medium;
}

.footer p {
  font-size: small;
}

@media screen and (max-height: 500px) and (min-width: 600px) {
  .welcome_card {
    height: 100%;
  }

  .bio_content {
    flex-direction: column;
  }
}

@media screen and (min-width: 1500px) {
  .user_avatar {
    width: 300px;
  }
}

@media screen and (max-width: 2000px) {
  .content {
    width: 50%;
    margin: 0 auto;
  }
  .skill_badge {
    width: 80%;
  }

  .svg_image {
    width: 15%;
    margin: 30px;
  }

  .username {
    font-size: 80px;
  }
}

@media screen and (max-width: 1500px) {
  .content {
    width: 60%;
    margin: 0px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .username {
    font-size: 70px;
  }

  .header {
    justify-content: center;
  }

  .user_avatar {
    width: 45%;
  }

  .left_text {
    width: 100%;
  }
}

@media screen and (max-width: 2000px) {
  .bio_content {
    flex-direction: column;
  }

  .left_text {
    margin-left: 0px;
  }

  .user_avatar {
    margin: 5%;
  }
}

@media screen and (max-width: 850px) {
  .left_text {
    margin-left: 0px;
  }

  .bio_content {
    flex-direction: column;
  }

  .left_text {
    border: none;
  }

  .header {
    justify-content: center;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .link_badge {
    width: 200px;
  }

  .tabs {
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .content {
    justify-content: center;
    width: 100%;
    margin: 0px;
  }

  .user_avatar {
    width: 55%;
    margin: 5%;
    border-radius: 50%;
  }

  .skill_badge {
    width: 90%;
    margin: 10px;
  }

  .left_text {
    width: 90%;
  }

  .username {
    font-size: 50px;
    margin-top: 0px;
  }

  .cross_block,
  .cross_block_2 {
    width: 90%;
  }
}
