@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Playwrite+HR+Lijeva:wght@100..400&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --bg: hsl(220, 20%, 18%);
  --bg2: hsl(220, 15%, 32%);
  --bg3: hsl(220, 15%, 36%);
  --fg: hsl(220, 30%, 88%);
  --fg2: hsl(220, 20%, 92%);
  --color1: hsl(220, 30%, 88%);
  --red: hsl(350, 40%, 55%);
  --green: hsl(100, 30%, 60%);
  --blue: hsl(210, 40%, 60%);
  --yellow: hsl(40, 60%, 70%);
  --pink: hsl(320, 30%, 60%);
  --purple: hsl(280, 30%, 60%);
  --cyan: hsl(200, 50%, 65%);
  --blur: hsla(220, 15%, 32%, 0.5);
}

:root.light {
  --bg: hsl(220, 30%, 88%);
  --bg2: hsl(220, 20%, 92%);
  --bg3: hsl(220, 20%, 94%);
  --fg: hsl(220, 20%, 22%);
  --fg2: hsl(220, 15%, 32%);
  --color1: hsl(220, 15%, 32%);
  --red: hsl(350, 40%, 55%);
  --green: hsl(100, 30%, 60%);
  --blue: hsl(210, 40%, 60%);
  --yellow: hsl(40, 60%, 70%);
  --pink: hsl(320, 30%, 60%);
  --purple: hsl(280, 30%, 60%);
  --cyan: hsl(200, 50%, 65%);
  --blur: hsla(220, 20%, 92%, 0.5);
}


/*
WindSong
Playwrite HR Lijeva
Madimi One
Varela Round
Permanent Marker
*/

* {
  user-select: none;
}

.rights {
  font-family: "Varela Round", monospace;
  color: var(--color1);
  font-size: medium;
  font-weight: 800;
}

.date {
  display: block;
  font-size: medium;
  color: gray;
}

.header {
  display: flex;
  position: fixed;
  top: 10px;
  height: 50px;
  z-index: 10000;
  width: auto;
  justify-content: right;
  align-items: center;
  align-content: center;
  background-color: var(--color1);
  backdrop-filter: blur(5px);
  color: var(--bg);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Madimi One";
}

.navbar_button_text {
  width: auto;
  padding: 10px;
  height: 40px;
  color: var(--bg);
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.navbar_button {
  text-decoration: none;
  color: var(--bg);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: color 0.5s;
  width: 20px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-in-out;
}

.navbar_button:hover {
  background-color: var(--bg);
  color: var(--color1);
}

.navbar_button:active {
  background-color: var(--bg);
  color: var(--color1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(10px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  color: var(--color1);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
}

#inputData {
  color: var(--bg);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "Madimi One", system-ui;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--color1);
}

h3 {
  font-family: "Madimi One", system-ui;
  padding: 0%;
  margin: 5px;
  font-size: medium;
  line-height: 2;
}

svg path {
  stroke: var(--color1);
  background-color: var(--color1);
}

svg circle {
  stroke: var(--color1);
  background-color: var(--color1);
}

* {
  outline: none;
}

.svg_image {
  width: 350px;
  margin: 30px;
}

.svg_image path {
  stroke: var(--color1);
  background-color: var(--color1);
}

.svg_image circle {
  stroke: var(--color1);
  background-color: var(--color1);
}

html {
  background: var(--bg);
  background-origin: padding-box;
  background-repeat: repeat;
  background-attachment: scroll;
  scrollbar-color: var(--color1) transparent;
  scrollbar-arrow-color: transparent transparent;
  font-family: "Madimi One", monospace;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  scroll-behavior: smooth;
  margin: 1%;
  transition: all 0.5s ease-in-out;
  scroll-snap-type: x mandatory;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  scroll-snap-type: x mandatory;
}

.scrollButton {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--color1);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  border: none;
  transform: translateX(-30%);
}

.mac_header {
  background-color: transparent;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-right: 75px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transition: all 1s ease-in-out;
}

.red {
  background-color: var(--red);
  transition: all 0.2s;
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.red:hover {
  opacity: 0.7;
}

.output {
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
}

dialog {
  opacity: 0;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  border: 30px;
  border-color: transparent;
  border-radius: 20px;
  align-items: center;
  outline: none;
  max-height: 80%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

form {
  outline: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.badges_block {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bb_block {
  padding: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn_link {
  width: 100%;
}

input {
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: none;
  background-color: var(--color1);
  color: var(--color1);
}

.skill_badge {
  aspect-ratio: 1/1;
  width: 100px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.submitButton {
  width: 50%;
  height: 25px;
  padding: 0px;
  margin: 0px;
  color: var(--color1);
}

.client_data {
  display: none;
  flex-direction: column;
  align-items: center;
}

.client_data h3 {
  color: var(--color1);
  font-family: "Madimi One", monospace;
  font-size: medium;
}

.profile_card,
.welcome_card,
.profile_card_2,
.profile_stats,
.profile_repos,
.user_bio,
.git_profile_card,
.my_contacts,
.my_skills,
.profile_blogs {
  background-color: transparent;
  border-radius: 30px;
  color: var(--color1);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.user_bio {
  min-height: 100vh;
  box-sizing: border-box;
}

.git_profile_card {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_bio h3 {
  margin: 30px;
}

.profile_blogs,
.profile_repos,
.my_skills {
  background-color: var(--bg);
}

.profile_card a {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.profile_card .button {
  width: 50%;
}

.bio_info {
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bio_info h3 {
  font-size: medium;
  line-height: 2;
  align-content: center;
  text-align: center;
  font-family: "Madimi One", sans-serif;
}

.profile_stats h3 {
  font-family: "Madimi One", sans-serif;
  line-height: 2;
  font-size: x-larger;
}

.profile_stats a {
  line-height: 1.5;
  font-size: medium;
  color: var(--color1);
  text-decoration: none;
}

.user_bio a {
  line-height: 2;
  font-size: medium;
  color: var(--color1);
  font-family: "Madimi One", sans-serif;
  text-decoration: none;
}

.user_bio h3 {
  line-height: 2;
  font-family: "Varela Round", sans-serif;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
}

.handwrite {
  padding: 3%;
  margin: 30px;
  border-radius: 15px;
  background-color: transparent;
  font-family: "WindSong", cursive;
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--color1);
}

.text-box-outline {
  width: 85%;
  padding: 15px;
  font-family: "Varela Round";
  font-weight: 700;
  font-size: medium;
  background-color: var(--color1);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.text-box-outline i {
  margin-left: 20px;
  margin-right: 20px;
}

.text-box {
  width: 85%;
  padding: 15px;
  font-family: "Varela Round";
  font-weight: 700;
  font-size: medium;
  background-color: var(--color1);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

a .text-box .i {
  margin-left: 20px;
}

.text-box .i {
  margin-left: 20px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.welcome_card {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 50%;
  padding: 0px;
}

.user_avatar {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  z-index: -1000;
}

.contacts_badge_block {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_button {
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  font-size: medium;
  background-color: var(--color1);
  color: var(--bg);
  border-radius: 20px;
  width: 50px;
  aspect-ratio: 1/1;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.contact_button:hover {
  background-color: var(--blue);
}

ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  gap: 28px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul li {
  position: relative;
  list-style: none;
  width: 72px;
  height: 72px;
  padding: 0px;
  margin: 0px;
  border-radius: 72px;
  background: var(--color1);
  cursor: pointer;
  display: flex;
  transition: 300ms;
}

ul li:hover {
  width: 180px;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 72px;
  background: var(--bg-color);
  opacity: 0;
  transition: 300ms;
}

ul li:hover::before {
  opacity: 1;
}

ul li span {
  position: absolute;
}

ul li i {
  color: var(--bg);
  font-size: 1.5em;
  transition: 300ms;
  transition-delay: 150ms;
}

ul li:hover i {
  transform: scale(0);
  color: var(--bg);
  transition-delay: 0s;
}

ul li .text {
  color: var(--bg);
  font-size: 1.5em;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.024em;
  opacity: 0;
  transition: 300ms;
  letter-spacing: -0.125px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul li * {
  color: var(--bg);
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul li:hover .text {
  opacity: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.links_badge_block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.submit_btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
  text-align: left;
  align-content: left;
  color: var(--red);
  cursor: pointer;
}

.sub_links_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.link_badge {
  width: 300px;
  height: 100%;
  border: none;
  transition: all 0.5s;
}

.link_badge:hover {
  background-color: var(--blue);
  width: 350px;
}

.button {
  font-family: "Varela Round", sans-serif;
  font-size: medium;
  font-weight: 700;
  background-color: var(--color1);
  border-radius: 10px;
  height: 50px;
  width: 270px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-decoration: none;
}

.button:hover {
  background-color: var(--green);
  width: 350px;
}

.button i {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a .button {
  font-family: "Varela Round", sans-serif;
  font-size: medium;
  font-weight: 700;
  background-color: var(--color1);
  border-radius: 10px;
  width: 270px;
  height: 50px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-decoration: none;
}

a .button:hover {
  background-color: var(--blue);
  width: 350px;
}

.theme-toggle,
.back_button {
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: var(--color1);
  color: var(--bg);
  transition: all 1s;
}

.theme-toggle,
.back_button i {
  color: var(--bg);
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.theme-toggle:hover {
  background-color: var(--color1);
}

.back_button:hover {
  background-color: var(--blue);
}

.theme-toggle:active,
.back_button:active {
  background-color: var(--blue);
  transform: scale(0.8);
}

.back_button {
  bottom: 100px;
}

.sub_block {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0%;
  margin: 0px;
  padding: 0px;
  align-items: baseline;
  justify-content: center;
}

.spacer {
  height: 150px;
  background-color: transparent;
  border: none;
}

.bio_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.left_text {
  width: 75%;
  text-align: left;
  align-items: left;
  align-content: left;
  justify-content: left;
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 50px;
  font-family: "Varela Round", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
  line-height: 2;
  padding-left: 10px;
  border-radius: 10px;
}

.username {
  align-items: center;
  text-align: center;
  font-size: 15vw;
  font-family: "Permanent Marker";
  margin: 0;
  padding: 0;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.git_stats {
  font-size: medium;
  font-family: "Varela Round", monospace;
  font-weight: 700;
  width: auto;
  text-align: left;
}

.footer {
  margin-bottom: 100px;
  font-size: medium;
}

.footer p {
  font-size: small;
}

.roller {
  height: 5.5rem;
  line-height: 5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
}

#flip {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  height: 100px;
  overflow: hidden;
  width: 100%;
  font-size: 50px;
}

#flip > div > div {
  color: var(--bg);
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  color: var(--accent);
  font-family: "Madimi One";
}

#flip div:first-child div {
  color: var(--accent);
  font-family: "Madimi One";
}

#flip div:last-child div {
  color: var(--accent);
  font-family: "Madimi One";
}

@keyframes show {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  33% {
    margin-top: -270px;
  }
  38% {
    margin-top: -180px;
  }
  66% {
    margin-top: -180px;
  }
  71% {
    margin-top: -90px;
  }
  83% {
    margin-top: -90px;
  }
  88% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}

@media screen and (max-height: 500px) and (min-width: 600px) {
  .welcome_card {
    height: 100%;
  }

  .bio_content {
    flex-direction: column;
  }

  .username {
    font-size: 70px;
  }
}

@media screen and (min-width: 1500px) {
  .user_avatar {
    width: 300px;
  }

  .username {
    font-size: 250px;
  }
}

@media screen and (max-width: 2000px) {
  .content {
    width: 50%;
    margin: 0 auto;
  }
  .skill_badge {
    width: 80%;
  }

  .svg_image {
    width: 200px;
    margin: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .content {
    width: 60%;
    margin: 0px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .header {
    justify-content: center;
  }

  .user_avatar {
    width: 45%;
  }

  .left_text {
    width: 100%;
  }
}

@media screen and (max-width: 2000px) {
  .bio_content {
    flex-direction: column;
  }

  .left_text {
    margin-left: 0px;
  }

  .user_avatar {
    margin: 5%;
  }
}

@media screen and (max-width: 850px) {
  .username {
    font-size: 70px;
  }

  .left_text {
    margin-left: 0px;
  }

  .bio_content {
    flex-direction: column;
  }

  .left_text {
    border: none;
  }

  .header {
    justify-content: center;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .link_badge {
    width: 200px;
  }

  .tabs {
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .content {
    justify-content: center;
    width: 100%;
    margin: 0px;
  }

  .user_avatar {
    width: 70%;
    margin: 5%;
    border-radius: 30%;
  }

  .skill_badge {
    width: 90%;
    margin: 10px;
  }

  .left_text {
    width: 90%;
  }
}
